{
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "experimentalOperatorPosition": "start",
  "experimentalTernaries": true,
  "jsxSingleQuote": true,
  "objectWrap": "preserve",
  "printWidth": 160,
  "proseWrap": "always",
  "quoteProps": "consistent",
  "semi": false,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false
}